---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->


<!-- MENU CATEGORIE 
{%- assign unique_categories = "" | split: "" -%}

{%- for post in site.posts -%}
  {%- assign category_list = post.categories -%}
  {%- for category in category_list -%}
    {%- unless unique_categories contains category -%}
      {%- assign unique_categories = unique_categories | push: category -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endfor -%}


<center>
  <div style="font-family: monospace; border: 1px solid black; padding: 10px; display: inline-block; text-align: center;">
    {%- assign total_length = 0 -%}
    {%- if unique_categories.size > 0 -%}
      {%- for category in unique_categories -%}
        {%- assign total_length = total_length | plus: category.size | plus: 3 -%}  <!-- 3 = 2 spaces + 1 dash -->
      {%- endfor -%}
    {%- endif -%}

    <!-- Linea superiore -->
    <div style="padding-bottom: 5px;">
      {%- for i in (0..total_length) -%}_ {%- endfor -%}
    </div>

    <!-- Categorie con trattini -->
    <div style="display: inline;">
      |
      {%- if unique_categories.size > 0 -%}
        {%- for category in unique_categories -%}
          <span style="margin: 0 5px;">
            <a href="{{ site.baseurl }}/{{ category | downcase | replace: ' ', '-' }}" style="text-decoration: none;">
               🏷️{{ category }}
            </a>
          </span>{%- if forloop.last == false -%} - {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
      |
    </div>

    <!-- Linea inferiore -->
    <div style="padding-top: 5px;">
      {%- for i in (0..total_length) -%}- {%- endfor -%}
    </div>
  </div>
</center>
-->

<!-- LISTA GENERALE DEI POST PINNED IN TUTTE LE CATEGORIE -->
{%- if site.posts.size > 0 -%}
<p>Articoli in evidenza:</p>
  <ul>
    {%- for post in site.posts -%}
    {%- if post.pinned -%}
    <li>
      <!-- {%- assign date_format = "%Y-%m-%d" -%} -->
      {%- assign date_format = "%d-%m-%Y" -%}
      📌 [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      <br />
      🏷️ categoria:
      <b class="{{ post.categories }}">{{ post.categories }}</b>
      <p></p>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
{%- endif -%}
<!--  <a href="{{ post.url | relative_url }}"> 👉 Tutti gli Articoli </a> -->