---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->


<!-- INIZIO MENU CATEGORIE -->

{%- assign unique_categories = "" | split: "" -%}
{%- for post in site.posts -%}
  {%- for category in post.categories -%}
    {%- unless unique_categories contains category -%}
      {%- assign unique_categories = unique_categories | push: category -%}
    {%- endunless -%}
  {%- endfor -%}
{%- endfor -%}

<p>>categorie:
  {%- if unique_categories.size > 0 -%}
    {%- for category in unique_categories -%}
      {%- if forloop.first == false -%} | {%- endif -%}
       <a href="{{ site.baseurl }}/{{ category | downcase | replace: ' ', '-' }}"> 🏷️{{ category }} </a>
    {%- endfor -%}
  {%- endif -%}
</p>


<!-- FINE MENU CATEGORIE -->


<!-- LISTA GENERALE DEI POST PINNED IN TUTTE LE CATEGORIE -->
{%- if site.posts.size > 0 -%}
<p>In evidenza:</p>
  <ul>
    {%- for post in site.posts -%}
    {%- if post.pinned -%}
    <li>
      <!-- {%- assign date_format = "%Y-%m-%d" -%} -->
      {%- assign date_format = "%d-%m-%Y" -%}
      📌 [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      <br />
      🏷️ <b class="{{ post.categories }}">{{ post.categories }}</b>
      <p></p>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
{%- endif -%}
<!--  <a href="{{ post.url | relative_url }}"> 👉 Tutti gli Articoli </a> -->